:root {
  --bg-color: #d3a2a8;
  --default-font: 'Poppins', sans-serif;

}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  font-family: var(--default-font);
  margin-bottom: 30px;
}
h4 {
  font-size: 40px;
}
.hero {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1511929825537-516974a253df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 60px;
  color: #fff;
}
.hero h1 {
  font-size: 72px;
  margin: 30px;
}
.hero h3 {
  font-size: 30px;
}

.btn-mywork {
  text-decoration: none;
  background: var(--bg-color);
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
}
.btn-projects {
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
  color: var(--bg-color);
}
.hero-container {
  background: var(--bg-color);
}

.content {
  margin: 120px 60px;
}
.content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  line-height: 1;
}
.content h3 {
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: 600;
}
.contact {
  background: var(--bg-color);
}

.logo {
  max-height: 44px;
}
.nav-link {
  margin: 0 40px;
}
.active {
  color: var(--bg-color)!important;
}
.contact-link a {
  color: var(--bg-color);
  text-decoration: none;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--bg-color);
}

footer .social-links i {
  margin: 0 20px;
  color: var(--bg-color);
  padding: 20px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links i:hover {
  color: white;
  background: var(--bg-color)!important;
}

@media (max-width: 616px) {
  h4 {
    font-size: 26px;
  }

  .hero h1 {
    font-size: 40px;
  }
  .hero {
    padding: 60px 30px;
  }
  .content h1 {
    font-size: 40px;
  }
}
